/* CSS for the Knowledge Base */
textarea.desc {
	width: 40%;
}

/**
* These make all center column items of kb not have to be below the side boxes
**/
.inner hr{
	clear:none;
}

#kb_postbody .inner{
	font-size: 1.2em;
}

#kb_postbody hr{
	clear:none;
}
#kb_postbody .rev{
	padding-bottom:5px;
}
#kb_postbody .rev .inner {
	background-color:#F7ECEF;
	overflow:hidden; 
	padding-left:5px;
	padding-right:5px;
	zoom:1;
}
#kb_postbody .rev .inner .postbody{
	padding:5px;
}

#kb_postbody #a .post .bg1 .inner .postbody .corners-bottom{
	overflow:hidden;
	
}

#page-body .inner .user_menu .corners-bottom{
	clear:both;
}

#kb_postbody .inner .postbody{
	clear:none;
	font-size: 1.2em;
}

#kb_postbody .error .inner span.corners-bottom {
	clear:none;
	padding-bottom:30px;
}

#kb_postbody .post #cat .corners-bottom{
	clear:none;
}

.forabg span.corners-bottom{
	clear:none;
}

.forabg{
	clear:none;
}

.forumbg span.corners-bottom{
	clear:none;
}
.forumbg{
	clear:none;
}

/**
* Left menu
*/
#left_menu {
	float:left;
}

#right_menu {
	float:right;
}

.left_menu_title {
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	padding: 1px 0 5px 0;
}

.cat_menu_title {
	font-weight: bold;
	font-size: 11px;
	text-align: left;
	padding: 1px 0 5px 0;
}

#kb_searchform {
	color: #FFFFFF;
	margin-top: 5px;
	white-space: nowrap;
}

#kb_searchform #button{
	margin-top:5px;
}

.kb_search input.inputbox	{ width: 75%; }

/* MCP Specific tweaks */
.mcp-main .kb-mcp-postbody {
	width: 76%;
}

.addthis_toolbox .custom_images a
{
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
}

.article-icon span		{ background: transparent none 0 0 no-repeat; }
.buttons div.article-icon		{ width: {IMG_BUTTON_ARTICLE_NEW_WIDTH}px; height: {IMG_BUTTON_ARTICLE_NEW_HEIGHT}px; }
.article-icon span		{ background-image: url("{IMG_BUTTON_ARTICLE_NEW_SRC}"); }

.comment-icon span		{ background: transparent none 0 0 no-repeat; }
.buttons div.comment-icon		{ width: {IMG_BUTTON_COMMENT_NEW_WIDTH}px; height: {IMG_BUTTON_COMMENT_NEW_HEIGHT}px; }
.comment-icon span		{ background-image: url("{IMG_BUTTON_COMMENT_NEW_SRC}"); }

.request-icon span		{ background: transparent none 0 0 no-repeat; }
.buttons div.request-icon		{ width: {IMG_BUTTON_REQUEST_NEW_WIDTH}px; height: {IMG_BUTTON_REQUEST_NEW_HEIGHT}px; }
.request-icon span		{ background-image: url("{IMG_BUTTON_REQUEST_NEW_SRC}"); }

.icon-kb {
	/*background-image: url("{T_THEME_PATH}/images/icon_kb.gif");*/
	background-image: url("{T_THEME_PATH}/images/icon-kb.png");
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding: 1px 0 0 23px;

}

/* Rating Code */
ul.rating, ul.rated {
	list-style-type: none;
	display: inline;
}

ul.rating li, ul.rated li {
	display: inline;
	border: 0;
}

.hidden {
	display: none !important;
}

.error {
	color: #BC2A4D;
	font-weight: bold;
	font-size: 1.2em;
}

/* kb link */
a.kblink {
	background: url("./images/kb_badge.gif") center right no-repeat;
	padding-right: 34px;
	zoom: 1; /* IE6/IE7 Wrapping fix */
}

#p.post .inner .kb_postbody {
	float:left;
}

#p.post .inner .kb_postbody h3.first{
	font-size: 1.4em;
	clear:none;
	margin: 0 0 0.5em !important;
	border: medium none;
}

#p.post .inner .kb_postbody ul.profile-icons{
	clear:none;
}

#kb_postbody .online .inner .kb_postbody {
	width: 76%;
}

#kb_postbody .inner .kb_postbody{
	width: 96%;
}

.kb_postbody li {
	padding-top:4px;
}

.kb_postbody .profile-icons li {
	padding-top:0px;
}

.kb{
	color: #4f84ad;
	font-size: 2.8em;
	font-weight: 900;
	font-family: Helvetica,Arial,sans-serif;
	margin-top: .5em;
	margin-right: 0em;
	margin-bottom: 0.25em;
	margin-left: 0em;
}

/* Positioning of moderator icons */
.kb_postbody ul.profile-icons {
	float: right;
	width: auto;
	padding: 0;
}

.kb_postbody ul.profile-icons li {
	margin: 0 3px;
}

.kb_postbody .notice{
	clear: none;
}

#kb_postbody{
	padding: 0 1em 0 1em; /* padding here creates white space "inside the box." */
}

.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

#kb_postbody .post .corners-bottom{
	clear:none;
}


#kb_postbody .panel .corners-bottom{
	clear:none;
}

#kb_postbody .history .corners-bottom{
	clear:both;
}

#kb_postbody li.header dt, #kb_postbody li.header dd {
	color: #105289;
}

#kb_postbody dl.icon dt, #kb_postbody dl.icon dd {
	color: #FFFFFF;
}

#kb_postbody .row dl.icon dt, #kb_postbody .row dl.icon dd {
	color:#4C5D77;
}

#kb_postbody div.bg3 span.corners-bottom{
	clear:none;
}

#kb_postbody #preview span.corners-bottom{
	clear:both;
}

#kb_postbody .bg1 .corners-bottom{
	clear:both;
}