<!-- INCLUDE ucp_header.html -->

<table width="100%" class="tablebg" cellspacing="1" cellpadding="4" border="0">
<tr> 
	<th colspan="2">&nbsp;{L_QUEUED_ARTICLES}&nbsp;</th>
	<th>&nbsp;{L_AUTHOR}&nbsp;</th>
	<th>&nbsp;{L_ARTICLE_TIME}&nbsp;</th>
	<th width="10%">&nbsp;{L_STATUS}&nbsp;</th>
</tr>
<tr>
	<td colspan="5" class="row3">{L_KB_ARTICLES_EXPLAIN}</td>
</tr>
<!-- BEGIN articlerow -->
	<!-- IF articlerow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
		<td class="row1" align="center" width="25"><!-- IF articlerow.ARTICLE_TYPE_IMG --><img src="{articlerow.ARTICLE_TYPE_IMG}" width="{articlerow.ARTICLE_TYPE_IMG_WIDTH}" height="{articlerow.ARTICLE_TYPE_IMG_HEIGHT}" alt="" /><!-- ENDIF --></td>
		<td style="padding: 4px;">
			<p class="topictitle"><a href="{articlerow.U_VIEW_ARTICLE}" class="topictitle">{articlerow.ARTICLE_TITLE}</a></p>
			<!-- IF articlerow.ARTICLE_LAST_EDIT --><span class="gensmall">{articlerow.ARTICLE_LAST_EDIT}</span><!-- ENDIF -->
		</td>
		<td style="padding: 4px;" align="center" valign="middle" nowrap="nowrap"><span class="gen">{articlerow.ARTICLE_AUTHOR_FULL}</span></td>
		<td class="postdetails" style="padding: 4px;" align="center	" valign="middle" nowrap="nowrap"><!-- IF articlerow.ATTACH_ICON_IMG -->{articlerow.ATTACH_ICON_IMG} <!-- ENDIF -->{articlerow.FIRST_POST_TIME}</td>
		<td align="center">{articlerow.ARTICLE_STATUS}</td>
	</tr>
<!-- END articlerow -->
<!-- IF .articlerow -->
<tr>
	<td class="cat" colspan="5">&nbsp;</td>
</tr>
<!-- ELSE -->
<tr>
	<td class="row1" colspan="5" height="30" align="center" valign="middle"><span class="gen">{L_NO_QUEUED_ARTICLES}</span></td>
</tr>
<!-- ENDIF -->
</table>

<!-- INCLUDE ucp_footer.html -->