<!-- INCLUDE ucp_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="3">{L_TITLE}</th>
</tr>
<tr>
	<td class="row1" colspan="3" align="center"><p class="genmed">{L_UCP_KB_WELCOME}</p></td>
</tr>
<tr>
	<th colspan="3">{L_YOUR_KB_DETAILS}</th>
</tr>
<tr>
	<td class="row1" colspan="3">
		<table width="100%" cellspacing="1" cellpadding="4">
		<tr> 
			<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><b class="genmed">{L_APPROVED_ARTICLES}: </b></td>
			<td width="100%"><b class="gen">{ARTICLES}</b><br /><a href="{U_SEARCH_ARTICLES}">{L_SEARCH_ARTICLES}</a></span></td>
		</tr>
		<tr> 
			<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><b class="genmed">{L_WAITING_ARTICLES}: </b></td>
			<td><b class="gen">{WAITING_ARTICLES}</b><br /><a href="{U_UCP_ARTICLES}">{L_ARTICLE_STATUS_PAGE}</a></span></td>
		</tr>
		<tr>
			<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><b class="genmed">{L_COMMENTS}: </b></td>
			<td><b>{COMMENTS}</b></td>
		</tr>
		<tr>
			<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><b class="genmed">{L_WAITING_MOD_COMMENTS}: </b></td>
			<td><b>{MOD_COMMENTS}</b></td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="cat" colspan="3">&nbsp;</td>
</tr>
</table>

<!-- INCLUDE ucp_footer.html -->