<!-- INCLUDE kb/kb_titleblock.html -->
<div class="post bg1">
<div id="cat" class="inner">
	<span class="corners-top"><span></span></span>
		<div class="left_menu_title">{L_KB_CATS}</div>
		<table style="width: 100%;">
			<!-- BEGIN catrow -->
			<tr>
				<!-- BEGIN cat -->
				<td style="vertical-align: top; width: {S_COL_WIDTH}%;">
					<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
						<tr>
							<td><h3 style="text-align:center;"><a href="{catrow.cat.U_VIEWCAT}">{catrow.cat.CAT_NAME} ({catrow.cat.ARTICLES})</a> <!-- IF U_SHOW_FEED --><a href="{catrow.cat.U_RSS_CAT}"><img src="{T_THEME_PATH}/images/feed.gif" width="14" height="14" alt="{L_RSS_CAT}" title="{L_RSS_CAT}" /></a><!-- ENDIF --></h3></td>
						</tr>
						<tr>
							<td><div style="text-align: center;">{catrow.cat.CAT_IMAGE}</div></td>
						</tr>
						<!-- IF catrow.cat.CAT_DESC} -->
						<tr>
							<td><span class="genmed">{catrow.cat.CAT_DESC}</span><hr /></td>
						</tr>
						<!-- ENDIF -->
						<tr>
							<td>
								<div class="content">
									<!-- IF catrow.cat.LATEST_ARTICLE --><strong>{L_LATEST_ARTICLES}:</strong> {catrow.cat.LATEST_ARTICLE}<!-- ENDIF -->
									<!-- IF catrow.cat.SUBCATS --><!-- IF catrow.cat.LATEST_ARTICLE --><br /><!-- ENDIF --><strong>{catrow.cat.L_SUBCAT}:</strong> {catrow.cat.SUBCATS}<!-- ENDIF -->
								</div>
							</td>
						</tr>
					</table>
				</td>
				<!-- END cat -->
				<!-- BEGIN dummy --> 
				<td style="vertical-align: top; width: {S_COL_WIDTH}%;">&nbsp;</td> 
				<!-- END dummy -->
			</tr>	
			<!-- END catrow -->
		</table>
	<span class="corners-bottom"><span></span></span>
</div>
</div>