<!-- INCLUDE kb/kb_titleblock.html -->
<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
	<ul class="topiclist">
		<li class="header">
			<dl class="icon">
				<dt>{L_KB_CATS}</dt>
				<dd class="topics">{L_KB_FEED_CAT}</dd>
				<dd class="posts">{L_ARTICLES}</dd>
				<dd class="lastpost"><span>{L_LATEST_ARTICLES}</span></dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">

	<!-- BEGIN catrow -->
	<!-- BEGIN cat -->
	<li class="row">
		<dl class="icon" style="background-image: url({catrow.cat.CAT_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
			<dt title="{catrow.cat.CAT_FOLDER_IMG_ALT}">
				<!-- IF catrow.cat.CAT_IMAGE --><span class="forum-image">{catrow.cat.CAT_IMAGE}</span><!-- ENDIF -->
				<a href="{catrow.cat.U_VIEWCAT}">{catrow.cat.CAT_NAME}</a>
				<!-- IF catrow.cat.CAT_DESC} --><br />{catrow.cat.CAT_DESC}<!-- ENDIF -->
				<!-- IF catrow.cat.SUBCATS --><br /><strong>{catrow.cat.L_SUBCAT}:</strong> {catrow.cat.SUBCATS}<!-- ENDIF -->
			</dt>
			<dd class="topics"><!-- IF U_SHOW_FEED --><a href="{catrow.cat.U_RSS_CAT}"><img src="{T_THEME_PATH}/images/feed.gif" width="14" height="14" alt="{L_RSS_CAT}" title="{L_RSS_CAT}" /></a> <dfn>{L_KB_FEED_CAT}</dfn><!-- ENDIF --></dd>
			<dd class="posts">{catrow.cat.ARTICLES} <dfn>{L_ARTICLES}</dfn></dd>
			<dd class="lastpost"><span>
				<!-- IF catrow.cat.LATEST_ARTICLE --><strong>{L_LATEST_ARTICLES}:</strong> {catrow.cat.LATEST_ARTICLE}<!-- ELSE -->{L_KB_NO_LATEST}<!-- ENDIF --></span>
			</dd>
		</dl>
	</li>
	<!-- END cat -->
	<!-- END catrow -->
	</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>