<!-- IF not S_IS_MCP and not S_IS_UCP -->
		<!-- IF S_DISPLAY_ONLINE_LIST -->
		<h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3>
		<p>{LOGGED_IN_USER_LIST}</p>
		<!-- ENDIF -->
		
		<!-- IF .articlerow and not IN_TAG -->
		<h3>{L_KB_PERMISSIONS}</h3>
		<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>
		<!-- ENDIF -->
		</td>
		<!-- IF .right_menu -->
		<td id="right_menu" style="width: {RIGHT_MENU_WIDTH}; vertical-align: top; padding-left: 10px;">
			<!-- BEGIN right_menu -->
			{right_menu.CONTENT}
			<!-- END right_menu -->
		</td>
		<!-- ENDIF -->
	</tr>
</table>
<div style="text-align:left;"><!-- IF U_MODCP -->[&nbsp;<a href="{U_MODCP}">{L_MCP}</a>&nbsp;]<!-- ENDIF --></div>
<!-- INCLUDE overall_footer.html -->
<!-- ELSEIF S_IS_MCP -->
<!-- INCLUDE mcp_footer.html -->
<!-- ELSE -->
<!-- INCLUDE ucp_footer.html -->
<!-- ENDIF -->