<!-- IF S_IS_MCP -->
<!-- INCLUDE mcp_header.html -->
<!-- ELSEIF S_IS_UCP -->
<!-- INCLUDE ucp_header.html -->
<!-- ELSE -->
<!-- INCLUDE overall_header.html -->
<!-- ENDIF -->
<p><!-- IF U_MCP -->[&nbsp;<a href="{U_MCP}">{L_MCP}</a><!-- IF TOTAL_KB_APPROVE --> &bull; <a href="{U_KB_APPROVE}">{TOTAL_KB_APPROVE}</a><!-- ENDIF --><!-- IF U_TOTAL_KB_REQUEST --> &bull; <a href="{U_KB_REQUEST}">{U_TOTAL_KB_REQUEST}</a><!-- ENDIF --> ]<!-- ENDIF --><p>
<!-- IF not S_IS_MCP and not S_IS_UCP -->
<table style="width: 100%">
	<tr>
		<!-- IF .left_menu -->
		<td id="left_menu" style="width: {LEFT_MENU_WIDTH}; vertical-align: top;">
			<!-- BEGIN left_menu -->
			{left_menu.CONTENT}
			<!-- END left_menu -->
		</td>
		<!-- ENDIF -->
		<td style="vertical-align: top; max-width:500px;<!-- IF .left_menu --> padding-left: 10px;<!-- ENDIF --><!-- IF .right_menu --> padding-right: 10px;<!-- ENDIF -->"><!-- ENDIF -->