<!-- INCLUDE kb/kb_header.html -->
			<div id="a" class="post bg1">
			<div class="inner">
				<span class="corners-top"><span></span></span>
					<div class="postbody" style="width: 100%;">
						<!-- IF U_DELETE or U_EDIT and not S_IS_BOT -->
							<ul class="profile-icons">
								<!-- IF U_EDIT --><li class="edit-icon"><a href="{U_EDIT}" title="{L_KB_EDIT_REQUEST}"><span>{L_KB_EDIT_REQUEST}</span></a></li><!-- ENDIF -->
								<!-- IF U_DELETE --><li class="delete-icon"><a href="{U_DELETE}" title="{L_KB_DELETE_REQUEST}"><span>{L_KB_DELETE_REQUEST}</span></a></li><!-- ENDIF -->
							</ul>
						<!-- ENDIF -->
						<h3><a href="{U_VIEW}">{REQUEST_TITLE}</a></h3>
						<p class="author">
							<a href="{U_VIEW_PERMANENT}"><img src="{T_IMAGESET_PATH}/icon_post_target.gif" alt="{L_PERMANENT_LINK}" /></a>{L_POST_BY_AUTHOR} <strong>{POST_AUTHOR_FULL}</strong> {L_POSTED_ON_DATE} {POST_DATE}
						</p>
						<div class="content"><strong>{EXPLAIN}</strong><hr /><br />{MESSAGE}</div>
					</div>
				<span class="corners-bottom"><span></span></span></div>
			</div>
<!-- INCLUDE kb/kb_footer.html -->