<!-- INCLUDE ucp_header.html -->

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>{L_UCP_KB_WELCOME}</p>

	<h3>{L_YOUR_KB_DETAILS}</h3>

	<dl class="details">
		<dt>{L_APPROVED_ARTICLES}:</dt> <dd>{ARTICLES} | <strong><a href="{U_SEARCH_ARTICLES}">{L_SEARCH_ARTICLES}</a></strong></dd>
		<dt>{L_WAITING_ARTICLES}:</dt> <dd>{WAITING_ARTICLES} | <strong><a href="{U_UCP_ARTICLES}">{L_ARTICLE_STATUS_PAGE}</a></strong></dd>
		<dt>{L_COMMENTS}:</dt> <dd>{COMMENTS}</dd>
		<dt>{L_WAITING_MOD_COMMENTS}:</dt> <dd>{MOD_COMMENTS}</dd>
	</dl>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE ucp_footer.html -->