<!-- INCLUDE kb/kb_header.html -->
			<!-- IF S_VIEW_EDIT -->
			<div id="a" class="post bg1 history">
				<div class="inner"><span class="corners-top"><span></span></span>
					<div class="postbody" style="width: 100%;">
						<h3><a href="{U_VIEW_ARTICLE}">{ARTICLE_TITLE}</a></h3>
						<h4>{L_EDIT_AUTHOR}:</h4>
						<div class="content">{EDIT_AUTHOR}</div>
						<h4>{L_EDIT_TIME}:</h4>
						<div class="content">{EDIT_TIME}</div>
						<h4>{L_REV_CHANGES}:</h4>
						<p><!-- BEGIN changerow -->{changerow.CHANGE}<br /><!-- END changerow --></p>
						<!-- IF EDIT_REASON != '' and EDIT_REASON_GLOBAL -->
						<h4>{L_EDIT_REASON}:</h4>
						<div class="content">{EDIT_REASON}</div>
						<!-- ENDIF -->
						<h4>{L_ARTICLE_TITLE}:</h4> 
						<div class="content">{EDIT_TITLE}</div>
						<h4>{L_ARTICLE_CAT}:</h4> 
						<div class="content">{CAT_NAME}</div>
						<h4>{L_ARTICLE_TYPE}:</h4> 
						<div class="content">{EDIT_TYPE}</div>
						<h4>{L_TAGS}:</h4> 
						<div class="content">{EDIT_TAGS}</div>
						<h4>{L_ARTICLE_STATUS}:</h4> 
						<div class="content">{EDIT_STATUS}</div>
						<h4>{L_ARTICLE_DESC}:</h4>
						<div class="content">{ARTICLE_DESC}</div>
						<h4>{L_CONTENT}:</h4>
						<div class="content">{ARTICLE_MESSAGE}</div>
					</div>
				<span class="corners-bottom"><span></span></span></div>
			</div>
		<!-- ELSEIF S_VIEW_DIFF -->
			<style type="text/css">
			/* <![CDATA[ */
			
			#main {
				font-size: 1em;
				line-height: 0.7em;
				margin: 0;
				padding: 0;
				width: 100%;
			}
			
			div#codepanel {
				overflow: auto;
				width: 100%;
				/*height: 550px;*/
				display: inline-block;
			}
			
			.bg1 .inner .corners-bottom{
				clear:none;
			}
			
			/**
			* Unified Diff
			*/
			.file {
				line-height: .7em;
			}
			
			.diff {
				margin: 0;
			}
			
			.added {
				background-color: #dfd;
			}
			
			.removed {
				background-color: #fdd;
			}
			
			.info {
				color: #888;
			}
			
			.context {
				background-color: #eee;
			}
			
			/**
			* Inline Diff
			*/
			.ins {
				background-color: #dfd;
				text-decoration: underline;
			}
			
			.del {
				background-color: #fdd;
				text-decoration: line-through;
			}
			
			/**
			* Column Diff
			*/
			table.hrdiff {
				margin: 0 0 8px 5px;
				width: 100%;
				overflow: hidden;
				border-bottom: 1px solid #999;
				table-layout: fixed;
			}
			
			table.hrdiff th {
				text-align: left;
				width: 50%;
				color: #333;
				font-family: Verdana,Helvetica,sans-serif;
				font-size: 11px;
				border-bottom: 1px solid #999;
				background: transparent;
			}
			
			table.hrdiff thead th {
				font-weight: bold;
				font-size: 110%;
				padding: 2px;
			}
			
			table.hrdiff tr:first-child th {
				border-top: none;
			}
			
			table.hrdiff tbody th {
				padding: 2em 1px 1px 1px;
				font-size: 80%;
				border-top: 1px solid #999;
			}
			
			table.hrdiff tbody td.old {
				border-left: 1px solid #999;
				border-right: 1px solid #999;	
			}
			table.hrdiff tbody td.new {
				border-right: 1px solid #999;	
			}
			
			table.hrdiff td pre {
				overflow: auto;
				display: block;
				width: 100%;
				overflow: auto;
				display: block;
			}
			
			table.hrdiff .unmodified {
				background: #fff;
			}
			
			table.hrdiff .added {
				background: #9f9;
			}
			
			table.hrdiff .added_empty {
				background: #cfc;
			}
			
			table.hrdiff .modified {
				background: #fd9;
			}
			
			table.hrdiff .removed {
				background: #f99;
			}
			
			table.hrdiff .removed_empty {
				background: #fcc;
			}
			
			table.hrdiff caption {
				caption-side: top;
				text-align: left;
				margin: 0 0 8px 5px;
				font-size: 90%;
				font-weight: bold;
				padding: 5px;
			}
			
			table.hrdiff caption span {
				height: 10px;
				width: 10px;
				line-height: 10px;
				letter-spacing: 10px;
				border: 1px solid #000;
				margin-left: 0.5em;
				vertical-align: baseline;
			}
			
			/* ]]> */
			</style>
			<h2>{L_VIEWING_EDIT_DIFF}</h2>		
			<div class="post bg1">
				<div class="inner">
					<span class="corners-top"><span></span></span>
						<div id="diff_content">
							<div id="codepanel">
								<div id="main"><a name="content"></a>
										{DIFF_CONTENT}
										<table style="width: 100%;">
											<tr>
												<td style="width: 50%; text-align: center;">
													{L_KB_DIFF_FROM}
												</td>
												<td style="width: 50%; text-align: center;">
													{L_KB_DIFF_TO}
												</td>
											</tr>
										</table>
								</div>
							</div>
						</div>
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>
		<!-- ELSE -->
			<form action="{U_DIFF_ACTION}" method="get" name="diff_form">
			<h2>{L_TITLE}</h2>
			
			<div class="panel bg3">
				<div class="inner"><span class="corners-top"><span></span></span>
				
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dt style="width: 30%">{L_EDITS}</dt>
							<dd class="extra">{L_DIFF_FROM}</dd>
							<dd class="extra">{L_DIFF_TO}</dd>
							<dd class="time" style="width: 30%"><span>{L_EDIT_TIME}</span></dd>
							<dd class="extra">{L_STATUS}</dd>
						</dl>
					</li>
				</ul>
				
				<ul class="topiclist cplist">
				<!-- BEGIN editrow -->
					<li class="row <!-- IF editrow.S_IS_CONTRIB -->bg3<!-- ELSE --><!-- IF editrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- ENDIF -->">
						<dl>
							<dt style="width: 30%"><!-- IF editrow.U_EDIT != '' --><a href="{editrow.U_EDIT}">{editrow.ARTICLE_TITLE}</a><!-- ELSE -->{editrow.ARTICLE_TITLE}<!-- ENDIF --> {editrow.EDIT_BY} <!-- IF editrow.S_NEWEST -->&nbsp;<strong>({L_NEWEST})</strong><!-- ELSEIF editrow.S_ORG -->&nbsp;<strong>({L_ORIGINAL})</strong><!-- ENDIF --><br />
								<!-- IF editrow.U_VIEW_REV != '' -->[ <a href="{editrow.U_VIEW_REV}">{L_VIEW_REV_INFO}</a> ]<!-- ENDIF --></dt>
							<dd class="extra"><!-- IF editrow.S_CAN_DIFF_F --><input type="radio" id="df-{editrow.NUM}" name="df" value="{editrow.EDIT_ID}" /><!-- ELSE -->{L_N_A}<!-- ENDIF --></dd>
							<dd class="extra"><!-- IF editrow.S_CAN_DIFF_T --><input type="radio" id="dt-{editrow.NUM}" name="dt" value="{editrow.EDIT_ID}" /><!-- ELSE -->{L_N_A}<!-- ENDIF --></dd>
							
							<dd class="time" style="width: 30%"><span>{editrow.EDIT_TIME}</span></dd>
							<dd class="extra">{editrow.EDIT_STATUS}</dd>
						</dl>
					</li>
				<!-- END editrow -->
				</ul>
				<fieldset class="display-options">
						<input name="submit" value="{L_VIEW_DIFF}" class="button1" type="submit" />
						<input name="i" value="history" type="hidden" />
						<input name="a" value="{ARTICLE_ID}" type="hidden" />
				</fieldset>
				
				<span class="corners-bottom"><span></span></span></div>
			</div>
			</form>
		<!-- ENDIF --> 		
<!-- INCLUDE kb/kb_footer.html -->