<!-- INCLUDE kb/kb_header.html -->

				<!-- IF .changerow -->
				<div class="rev">
					<div class="inner">
						<span class="corners-top"><span></span></span>
							<div class="postbody">
							<h4>{L_REV_CHANGES}:</h4>
							<!-- BEGIN changerow --><p>{changerow.CHANGE}</p><!-- END changerow -->
							</div>
						<span class="corners-bottom"><span></span></span>
					</div>
				</div>
				<!-- ENDIF -->
				<div id="a" class="<!-- IF S_IS_MCP or S_IS_UCP -->panel<!-- ELSE -->post bg1<!-- ENDIF -->">
					<div class="inner">
						<span class="corners-top"><span></span></span>
							<div class="kb_postbody">
								<!-- IF U_STATUS or U_DELETE or U_EDIT or U_HISTORY and not S_IS_BOT -->
									<ul class="profile-icons">
										<!-- IF U_EDIT --><li class="edit-icon"><a href="{U_EDIT}" title="{L_EDIT_ARTICLE}"><span>{L_EDIT_ARTICLE}</span></a></li><!-- ENDIF -->
										<!-- IF U_DELETE --><li class="delete-icon"><a href="{U_DELETE}" title="{L_DELETE_ARTICLE}"><span>{L_DELETE_ARTICLE}</span></a></li><!-- ENDIF -->
										<!-- IF U_STATUS --><li class="report-icon"><a href="{U_STATUS}" title="{L_CHANGE_STATUS}"><span>{L_CHANGE_STATUS}</span></a></li><!-- ENDIF -->
										<!-- IF U_HISTORY --><li class="info-icon"><a href="{U_HISTORY}" title="{L_HISTORY}"><span>{L_HISTORY}</span></a></li><!-- ENDIF -->
									</ul>
								<!-- ENDIF -->

								<!-- IF S_ARTICLE_UNAPPROVED -->
									<p class="rules">
										<!-- IF S_ARTICLE_UNAPPROVED -->{UNAPPROVED_IMG} <a href="{U_STATUS}"><strong>{L_ARTICLE_UNAPPROVED}</strong></a><!-- ENDIF -->
									</p>
								<!-- ENDIF -->
									<h2 class="kb">{L_KB_HEADER}</h2>
							<span class="error" style="font-size: 120%">{ARTICLE_TITLE}</span><br/>
							<!-- IF S_EXTENDED_HEADER -->

							<strong>{L_ARTICLE_ID}:</strong> {ARTICLE_ID}<br />
							<strong>{L_WRITTEN_BY}:</strong> {POST_AUTHOR_FULL}<br />
							<strong>{L_WRITTEN_ON}:</strong> {ARTICLE_TIME}<br />

							<!-- IF ARTICLE_DESC --><strong>{L_DESCRIPTION}:</strong> {ARTICLE_DESC}<br /><!-- ENDIF -->
							{ARTICLE_VIEWS}<br/>

							<div class="content">
								<dl class="codebox">
                                	<dt>{L_LOCAL_LINK_TO_THIS}: <a href="#" onclick="selectCode(this); return false;">Select all</a></dt>
									<dd>
										<code>{U_LOCAL_PERM_LINK}</code>
									</dd>
                                    </dl>
                                    <dl class="codebox">
									<dt>{L_LINK_TO_THIS}: <a href="#" onclick="selectCode(this); return false;">Select all</a></dt>
									<dd>
										<code>{U_PERM_LINK}</code>
									</dd>
								</dl>
							</div>
							<!-- ELSEIF DISABLE_LEFT_MENU and not S_EXTENDED_HEADER -->
								<p class="author">
									<img src="{T_IMAGESET_PATH}/icon_post_target.gif" alt="{L_PERMANENT_LINK}" />{L_WRITTEN_BY} <strong>{POST_AUTHOR_FULL}</strong> {L_POSTED_ON_DATE} {ARTICLE_TIME}
								</p>
							<!-- ENDIF -->
							<!-- IF not S_EXTENDED_HEADER and ARTICLE_DESC -->
							<span class="genmed"><strong>{L_DESCRIPTION}:</strong> {ARTICLE_DESC}</span>
							<!-- ENDIF -->
							<hr />

							<div class="content">{ARTICLE_MESSAGE}</div>

							<!-- IF S_HAS_ATTACHMENTS -->
								<dl class="attachbox">
									<dt>{L_ATTACHMENTS}</dt>
									<!-- BEGIN attachment -->
										<dd>{attachment.DISPLAY_ATTACHMENT}</dd>
									<!-- END attachment -->
								</dl>
							<!-- ENDIF -->

							<!-- IF S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
							<strong>{ARTICLE_COPYRIGHT}</strong>
							<!-- IF U_MCP -->
								<!-- IF EDITED_MESSAGE -->
									<div class="notice">{EDITED_MESSAGE}</div>
								<!-- ENDIF -->
							<!-- ENDIF -->
							<br />

							<!-- IF SIGNATURE or ARTICLE_TAGS != '' --><div id="sig" class="signature"><!-- IF SIGNATURE -->{SIGNATURE}<!-- ENDIF --><!-- IF ARTICLE_TAGS != '' --><!-- IF SIGNATURE --><br /><!-- ENDIF --><strong>{L_TAGS}:</strong> {ARTICLE_TAGS}<!-- ENDIF --></div><!-- ENDIF -->

						</div>
					<span class="corners-bottom"><span></span></span></div>
				</div>

			<!-- IF .postrow -->
				<div id="replies" class="<!-- IF S_IS_MCP or S_IS_UCP -->panel<!-- ELSE -->post bg3<!-- ENDIF -->">
					<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_COMMENTS}</strong>
					<span class="corners-bottom"><span></span></span></div>
				</div>
				<!-- IF S_SORT_REPLY -->
					<form id="view_blog" method="post" action="{S_POST_ACTION}">
					<fieldset class="display-options" style="margin-top: 0; ">
						<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
						<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
						<label>{L_DISPLAY_POSTS}: {S_SELECT_SORT_DAYS}</label>
						<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label> <label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="button2" /></label>
					</fieldset>
					</form>
				<!-- ENDIF -->
				<!-- BEGIN postrow -->
					<div id="p{postrow.ID}" class="post <!-- IF S_IS_MCP or S_IS_UCP -->pm<!-- ELSE --><!-- IF postrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- ENDIF --><!-- IF postrow.S_REPORTED or postrow.S_UNAPPROVED --> reported<!-- ENDIF --><!-- IF postrow.USER_FOE --> foe<!-- ENDIF --><!-- IF postrow.S_DELETED --> deleted<!-- ENDIF --><!-- IF postrow.S_ONLINE --> online<!-- ENDIF -->" style="<!-- IF postrow.S_DELETED or postrow.USER_FOE --> display: none;<!-- ENDIF -->">
						<div class="inner"><span class="corners-top"><span></span></span>
							<div class="kb_postbody<!-- IF S_IS_MCP or S_IS_UCP --> kb-mcp-postbody<!-- ENDIF -->">
								<!-- IF postrow.U_QUOTE or postrow.U_INFO or postrow.U_DELETE or postrow.U_EDIT -->
									<ul class="profile-icons">
										<!-- IF postrow.U_EDIT --><li class="edit-icon"><a href="{postrow.U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li><!-- ENDIF -->
										<!-- IF postrow.U_DELETE --><li class="delete-icon"><a href="{postrow.U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
										<!-- IF postrow.U_REPORT and not postrow.S_REPORTED --><li class="report-icon"><a href="{postrow.U_REPORT}" title="{L_REPORT_POST}"><span>{L_REPORT_POST}</span></a></li><!-- ENDIF -->
										<!-- IF postrow.U_WARN --><li class="warn-icon"><a href="{postrow.U_WARN}" title="{L_WARN_USER}"><span>{WARN_USER}</span></a></li><!-- ENDIF -->
										<!-- IF postrow.U_QUOTE --><li class="quote-icon"><a href="{postrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}"><span>{L_REPLY_WITH_QUOTE}</span></a></li><!-- ENDIF -->
									</ul>
								<!-- ENDIF -->
								<h3 class="first">{ARTICLE_TITLE}</h3>
								<p class="author">
									<a href="{postrow.U_VIEW_PERMANENT}"><img src="{T_IMAGESET_PATH}/icon_post_target.gif" alt="{L_PERMANENT_LINK}" /></a>{L_POST_BY_AUTHOR} <strong>{postrow.POST_AUTHOR_FULL}</strong> {L_POSTED_ON_DATE} {postrow.POST_DATE}
								</p>

								<div class="content">{postrow.COMMENT_MESSAGE}</div>

								<!-- IF postrow.S_HAS_ATTACHMENTS -->
									<dl class="attachbox">
										<dt>{L_ATTACHMENTS}</dt>
										<!-- BEGIN attachment -->
											<dd>{postrow.attachment.DISPLAY_ATTACHMENT}</dd>
										<!-- END attachment -->
									</dl>
								<!-- ENDIF -->

								<!-- IF postrow.S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->

								<!-- IF postrow.SIGNATURE --><div class="signature">{postrow.SIGNATURE}</div><!-- ENDIF -->
							</div>

							<dl class="postprofile">
								<dt>
									<!-- IF postrow.POSTER_AVATAR -->
										{postrow.POSTER_AVATAR}<br />
									<!-- ENDIF -->
									<strong>{postrow.POST_AUTHOR_FULL}</strong>
								</dt>

								<!-- IF postrow.RANK_TITLE or postrow.RANK_IMG --><dd>{postrow.RANK_TITLE}<!-- IF postrow.RANK_TITLE and postrow.RANK_IMG --><br /><!-- ENDIF -->{postrow.RANK_IMG}</dd><!-- ENDIF -->

								<dd>&nbsp;</dd>

								<!-- IF postrow.POSTER_ARTICLES != '' --><dd><strong>{L_ARTICLES}:</strong> {postrow.POSTER_ARTICLES}</dd><!-- ENDIF -->
								<!-- IF postrow.POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {postrow.POSTER_JOINED}</dd><!-- ENDIF -->
								<!-- IF postrow.POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {postrow.POSTER_FROM}</dd><!-- ENDIF -->

								<!-- BEGIN custom_fields -->
									<dd><strong>{postrow.custom_fields.PROFILE_FIELD_NAME}:</strong> {postrow.custom_fields.PROFILE_FIELD_VALUE}</dd>
								<!-- END custom_fields -->

								<!-- IF postrow.U_PM or postrow.U_EMAIL or postrow.U_WWW or postrow.U_MSN or postrow.U_ICQ or postrow.U_YIM or postrow.U_AIM -->
									<dd>
										<ul class="profile-icons">
											<!-- IF postrow.U_PM --><li class="pm-icon"><a href="{postrow.U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
											<!-- IF postrow.U_EMAIL --><li class="email-icon"><a href="{postrow.U_EMAIL}" title="{L_EMAIL}"><span>{L_EMAIL}</span></a></li><!-- ENDIF -->
											<!-- IF postrow.U_WWW --><li class="web-icon"><a href="{postrow.U_WWW}" title="{L_VISIT_WEBSITE}: {postrow.U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
											<!-- IF postrow.U_MSN --><li class="msnm-icon"><a href="{postrow.U_MSN}" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
											<!-- IF postrow.U_ICQ --><li class="icq-icon"><a href="{postrow.U_ICQ}" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
											<!-- IF postrow.U_YIM --><li class="yahoo-icon"><a href="{postrow.U_YIM}" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
											<!-- IF postrow.U_AIM --><li class="aim-icon"><a href="{postrow.U_AIM}" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
											<!-- IF postrow.U_JABBER --><li class="jabber-icon"><a href="{postrow.U_JABBER}" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
										</ul>
									</dd>
								<!-- ENDIF -->
							</dl>
							<div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>
						<span class="corners-bottom"><span></span></span></div>
					</div>
				<!-- END postrow -->

			<form id="sort_cat" method="post" action="{S_ARTICLE_ACTION}">
			<fieldset class="display-options" style="margin-top: 0; ">
				<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
				<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
				<!-- IF not S_IS_BOT -->
				<label>{L_KB_SORT_COMMENT_BY} {S_SORT_OPTIONS}</label> <label>{S_SORT_DIRECTION} <input type="submit" name="gosort" value="{L_GO}" class="button2" /></label>
				<!-- ENDIF -->
			</fieldset>

			</form>
			<!-- ENDIF -->


			<div class="topic-actions">
				<!-- IF U_ADD_COMMENT -->
				<div class="buttons">
					<!-- IF U_ADD_COMMENT --><div class="comment-icon"><a href="{U_ADD_COMMENT}" title="{L_KB_ADD_COMMENT}"><span></span>{L_KB_ADD_COMMENT}</a></div><!-- ENDIF -->
				</div>
				<!-- ENDIF -->

				<div class="pagination">
				{TOTAL_COMMENTS} {L_COMMENTS_LC}
				<!-- IF PAGE_NUMBER -->
					<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
				<!-- ENDIF -->
				</div>
			</div>
<!-- INCLUDE kb/kb_footer.html -->